/* 
  line 25-29 body (skrifttype)
  line 30-32 image (bredde 30%)
  line 33-37 logo (navimg)
  line 38-41 disabled (elev-siden sliders er disabled)
  line 42-44 rødbaggrund class (brugt til at farve baggrunden rød)
  line 45-53 mobilcontainer (Til at vise, hvordan den vil se ud på app)
  line 54-56 mobilcontainer2 (bare højden til højere)
  line 57-59 aligncenter (bare til at centrere tingene i midten)
  line 60-63 aligncentermargin (det samme bare med lidt margin)
  line 64-73 slider (range-slider, til at justere temperatur, lys og luftfugtigheden)
  line 74-77 knapmargin (til at afvige fra den normale button - kun margin og bredde)
  line 78-83 green og red class (brugt i samarbejde med javascript til at skifte farven på tænd/sluk knappen)
  line 84-91 buttonextra (til igen at afvige fra den normale knap)
  line 92-107 button (den normal knap)
  line 108-115 button:link og button:visited (til at fjerne hyperlink og besøgt link)
  line 116-121 buttonlogin (hvordan knapper ser ud på login siderne)
  line 122-127 buttonbig (hvordan knapper ser ud på "vælg klasse" siderne)
  line 128-131 bignumber (tal er store på indstillings siderne)
  line 132-134 paddingtop (hvis der skal bruges lidt padding)
  line 135-150 knapfarverne (til at style nogle af knapperne til vores design
  line 151-154 knap:hover (hvordan knapperne reagere på hover)
*/

body{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 100;
  font-style: normal;
}
img{
  width:30%;
}
.navimg{
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;  
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.redbackground{
  background-color: red;
}
.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #fff;
    height: 850px;
    color: black;
    border-radius: 10px;
    border:solid;
}
.mobile-containerheight{
  height: 1050px;
}
.aligncenter{
    text-align: center;
}
.aligncentermargin{
  text-align: center;
  margin: 20px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.knapmargin{
  margin: 5%;
  width: 13%;
}
.green{
	background-color:green;
}
.red{
  background-color: red;
}
.buttonextra {
  border-radius: 25px;
  color: black;
  padding-top: 3%;
  height:60px;
  width:270px;
  font-size: 20px;
}
button {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 100;
  font-style: normal;
  border: none;
  border-radius: 20px;
  padding: 4% 8%;
  padding-top: 2%;
  height:45px;
  width:130px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
button:link {
  text-decoration: none;
  color: black;
}
  button:visited {
  text-decoration: none;
  color: black;
}
.buttonlogin {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  font-size: 0.7em;
}
.buttonbig {
  height: 60px;
  width: 100px;
  padding: 2% 4%;
  font-size: 1.5em;
}
.bignumber{
  font-size: 3em;
  margin: 0;
}
.paddingtop{
  padding-top:5%;
}
.knaporange {
  background-color: white;
  color: black;
  border: 2px solid #F7931E;
}
.knaplysorange { 
  background-color: white;
  color: black;
  border: 2px solid #FBB03B;
}

.knapgul{
  background-color: white;
  color: black;
  border: 2px solid #FCEE21;
}
.knapgul:hover {background-color: #FCEE21;}
.knaporange:hover {background-color: #F7931E;}
.knaplysorange:hover {background-color: #FBB03B;}
.buttonlogin:hover {background-color: #e7e7e7;}