body{
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 100;
  font-style: normal;
}
img{
  width:30%;

}
.navimg{
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
  
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.redbackground{
  background-color: red;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #fff;
    height: 850px;
    color: black;
    border-radius: 10px;
    border:solid;
  }
.mobile-container2{
  height: 1050px;

}
.aligncenter{
    text-align: center;
}
.aligncenter2{
  text-align: center;
  margin: 20px;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.slider2 { 
  transition: opacity .2s;
}

.knapmargin{
  margin: 5%;
  width: 13%;
}
.green{
	background-color:green;
}
.red{
  background-color: red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.buttonextra {
  border-radius: 25px;
  color: black;
  padding-top: 3%;
  height:60px;
  width:270px;
  font-size: 20px;
}
button {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 100;
  font-style: normal;
  border: none;
  border-radius: 20px;
  padding: 4% 8%;
  padding-top: 2%;
  height:45px;
  width:130px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

  button:link {
  text-decoration: none;
  color: black;
}
  button:visited {
  text-decoration: none;
  color: black;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  font-size: 0.7em;
}

.button5 {
  height: 60px;
  width: 100px;
  padding: 2% 4%;
  font-size: 1.5em;
}
.button6 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.button6:hover {background-color: #e7e7e7;}

.bignumber{
  font-size: 3em;
  margin: 0;
  
}
.paddingtop{
  padding-top:5%;
}

.knaporange {
  background-color: white;
  color: black;
  border: 2px solid #F7931E;
}
.knaplysorange { 
  background-color: white;
  color: black;
  border: 2px solid #FBB03B;
}

.knapgul{
  background-color: white;
  color: black;
  border: 2px solid #FCEE21;
}
.knapgul:hover {background-color: #FCEE21;}
.knaporange:hover {background-color: #F7931E;}
.knaplysorange:hover {background-color: #FBB03B;}

.button4:hover {background-color: #e7e7e7;}