.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #fff;
  height: 750px;
  color: black;
  border-radius: 10px;
  border:solid;
}

body{
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 100;
    font-style: normal;  
}
img{
    width:30%;
  
  }
.sectiontext {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.navimg{
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    
}

.aligncenter{
    text-align: center;
    margin: 20px;
}

#knapdecoration {
    color: black;
}

button {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: yellow;
  	border: none;
	border-radius: 25px;
  	color: black;
    padding: 4% 8%;
    padding-top: 3%;
	height:60px;
	width:270px;
  	text-align: center;
  	display: inline-block;
  	font-size: 20px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
button:hover {
  background-color: #1E3C55;
  color: black;
}
button:link {
	text-decoration: none;
	color: black;
}
button:visited {
	text-decoration: none;
	color: black;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {background-color: #e7e7e7;}

  .knaporange {
    background-color: white;
    color: black;
    border: 2px solid #F7931E;
  }
  .knaplysorange { 
    background-color: white;
    color: black;
    border: 2px solid #FBB03B;
  }
  
  .knapgul{
    background-color: white;
    color: black;
    border: 2px solid #FCEE21;
  }
  .knapgul:hover {background-color: #FCEE21;}
  .knaporange:hover {background-color: #F7931E;}
  .knaplysorange:hover {background-color: #FBB03B;}